.player-control {
  width: 100%;
  padding: 0 1em;
}

.ambience-switcher {
  float: right;
  margin-right: 1em;
}

.ambience-selector {
  position: absolute;
  bottom: 2em;
  right: 2.5em;
  z-index: 1;
  border: 1px solid gray;
  border-radius: 0.5em;
  padding: 0.2em;
}
